/**/


// $mobile: "taille  S";
// $tablette: "taille M";
// $desktop: "taille L";
// $tv: "taille XL";

// Breakpoints //

$breakpoint:(
    mobile:399px,
    tablette:899px,
    desktop:1199px
);

// Colors //

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$light-bg-color: #F6F6F6;
$light-bg-color-alt: #F5EDFF;
$dark-bg-color: #EAEAEA;
$footer-bg-color: #353535;

$mint-green: #99E2D0;