@import "./main.scss";


/***********************************/
/***********************************/
/***********************************/



// @media all and (max-width:$mobile){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }
// @media all and (min-width:$mobile) and (max-width:$tablette){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }
// @media all and (min-width:$desktop) and (max-width:$tv){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }
// @media all and (min-width:$tv){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }

/*****************/

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: inherit;

}



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  >img {
    width: 100%;
    object-fit: cover;
    height: 250px;

  }
}

header {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  box-shadow: 0 1px 10px 0px rgba(black, .2);
  > img {
    width: 200px;
    padding: 30px 0px 20px 0px;
  }
  >i {
    position: absolute;
    left: 30px;
  }
}

body>div>nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  * {
    padding: 5px 8px;
  }
  div.place {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-bg-color;
    font-size: 12px;
    color: rgb(43, 43, 43);
    width: 100%;
  
    }
  
  div.presentation {
    background-color: $light-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    > h1 {
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding: 0px 20px 0px 20px;
      margin: 20px 0 10px 0;
    }
    > h3 {
      font-weight: 300;
      font-size: 20px;
      text-align: center;
      padding: 0px 40px 0px 40px;
      margin: 10px 0 20px 0;
    }
  }
}

body>div {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px 20px;
    border-radius: 50px 50px 0px 0px;
    margin-top: -50px;
    background-color: $dark-bg-color;
    @include desktop {
      .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .dishes-type {
          width: 30%;
        }
      }
    }
    .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      * {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
      }
    }
    
    .dishes-type {
      &__heading {
        > h2 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 400;
          margin-bottom: 5px;
        }
        > div {
          background-color: #5adebd;
          width: 40px;
          height: 3px;
        }
      }
    }

    .dishes-card {
      margin: 20px 0;
      background-color: white;
      border-radius: 25px;
      padding: 15px 20px;
      box-shadow: 0 5px 30px 0px rgba(black, .08);
      animation: fade-in 1s;


      > h2 {
        font-size: 16px;
        margin: 0 0 5px 0;
      }

      &__infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        >h4 {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
        }
        >h3 {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
  .menu-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
}

body>div>main {
  section.how-to {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 60px 0;
    >h1 {
      padding: 20px 0 0 30px;
      margin-bottom: 0;
    }
    .explanations {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      .explanations__card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        background-color: $light-bg-color;
        width: 90%;
        height: 90px;
        margin: 20px 0 0 -20px;
        padding: 0;
        border-radius: 30px;
        box-shadow: 0 5px 30px 0px rgba(black, .18);
        font-size: 12px;
        
        >div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 0;
          margin-left: -15px;
          
          * {
            padding: 12px;
            margin: 0;
      
          }
        }
        i {
          color: grey;
        }
        .number-bubble {
          background-color: $primary-color;
          padding: 0px;
          margin: 0;
          text-align: center;
          color: white;
          border-radius: 100px;
          width: 35px;
          height: 35px;
          font-size: 15px;
          margin-right: 15px;
          * {
            margin: 0;
            margin-top: -4px;
            font-weight: 400;
      
          }
        }
        &.explanations__card--alt {
          background-color: rgba($primary-color, .15);
          i {
            color: rgba($primary-color, 1);
          }
        }
        
      
      }
    
    }
  } 
  .restaurants {
    background-color: $light-bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 30px;
    .restaurants_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
      }
      .restaurant-card {
        position: relative;
        box-shadow: 0 5px 30px 0px rgba(black, .18);
        border-radius: 30px;
        width: 100%;
        margin: 10px 0;
        @include desktop {
          width: 45%;
        }
        >img {
          position: relative;
          width: 100%;
          border-radius: 30px 30px 0 0;
          margin-bottom: 10px;
          height: 220px;
          object-fit: cover;
        }
        .restaurant-card__infos {
          padding: 0px 25px;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .restaurant-card__txt {
            h2, h3 {
              margin: 10px 0 10px 0;
              display: flex;
              flex-direction: column;
              line-height: 22px;
            }
            h2 {
              font-weight: 600;
              font-size: 24px;
    
            }
            h3 {
              font-weight: 400;
              font-size: 20px;
            }
          }
          .fa-heart.fa-solid {
            color: red;
            position: relative;
          }

       

        }
        >p {
          position: absolute;
          top: 5px;
          right: 20px;
          color: #008766;
          background-color: #99E2D0;
          padding: 10px;
          font-weight: 600;
          box-shadow: 0 5px 30px 0px rgba(black, .18);
        }
      }
    }
  }
  
}  

footer {
  background-color: $footer-bg-color;
  padding: 40px;

  >img {
    filter: brightness(100);
    width: 150px;
  }
  ul {
    padding: 20px 0;
    margin: 0;
    line-height: 20px;
    text-decoration: none;
    color: white;
    i {
      color: white;
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;
      >p {
        padding: 0px 15px;
        margin: 0;
      }
    }
  }
  
}

.loading-spinner {
  z-index: 2;
  width: 80px;
  height: 80px;
  border: 5px solid rgba($primary-color, 1);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s .5s ease infinite;
  animation-iteration-count: 3;
  opacity: 0;
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.main-wrapper {
  // animation: loading 3.7s ease;
}

