@import "./main.scss";


/***********************************/
/***********************************/
/***********************************/



@media all and (max-width:$mobile){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$mobile) and (max-width:$tablette){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$desktop) and (max-width:$tv){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@media all and (min-width:$tv){
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}

/*****************/

* {
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

header {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 10px 0px rgba(black, .2);
  > img {
    width: 50%;
    padding: 30px 0px 20px 0px;
  }
}

nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  * {
    padding: 5px 8px;
  }
}

.place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-bg-color;
  width: 100%;
  }

.presentation {
  background-color: $light-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  > h1 {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    padding: 0px 40px 0px 40px;
    margin: 20px 0 10px 0;
  }
  > h3 {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding: 0px 40px 0px 40px;
    margin: 10px 0 20px 0;
  }
  > .btn {
    padding: 20px;
    margin: 20px;
    background-color: $secondary-color;
    color: white;
    border: 0;
    border-radius: 40px;
    height: 80px;
    min-width: 50%;
    font-size: 25px;
    box-shadow: inset -20px -30px 70px 0px rgba($primary-color, 1), 0 5px 20px 0px rgba(black, .4);


  }
  
}