.footer {
  padding: 40px;
  
  background-color: $footer-bg-color;
  &__logo {
    filter: brightness(100);
    width: 150px;
  }
  .footer-list {
    padding: 20px 0;
    margin: 0;
    line-height: 20px;
    text-decoration: none;
    color: white;
    &__icon {
      color: white;
      margin: 0;
      padding: 0;
    }
    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;
      >p {
        padding: 0px 15px;
        margin: 0;
      }
    }
  }
  
  }