/**/
header {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    box-shadow: 0 1px 10px 0px rgba(black, .2);
    .header__logo {
      width: 200px;
      padding: 30px 0px 20px 0px;
    }
    > a {
      .header__return-button {
        position: absolute;
        left: 30px;
        cursor: pointer;
        transition: transform ease-in-out 50ms;
        &:hover {
          opacity: .6;
          transform: scale(1.2);
      }
    }
  }
}