/**/
.btn {
    padding: 20px 40px;
    margin: 20px;
    background-color: $secondary-color;
    color: white;
    border: 0;
    border-radius: 40px;
    font-size: 18px;
    box-shadow: inset -20px -30px 70px 0px rgba($primary-color, 1), 0 5px 20px 0px rgba(black, .4);
    
  }