/**/
// .btn {
//   z-index: 1;
//   position: relative;
//   padding: 20px 40px;
//   margin: 20px;
//   background-color: $secondary-color;
//   color: white;
//   border: 0;
//   border-radius: 40px;
//   font-size: 18px;
//   box-shadow: inset -20px -30px 70px 0px rgba($primary-color, 1), 0 5px 20px 0px rgba(black, .4);
//   cursor: pointer;
//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: lighten($secondary-color, 15);
//     opacity: 0;
//     z-index: -1;
//     border-radius: 40px;
//     transition: opacity 120ms ease-in-out;
//     box-shadow: inset -20px -30px 70px 0px rgba($primary-color, 1), 0 5px 20px 0px rgba(black, .5);
//   }
//   &:hover {
//     &::after {
//       opacity: 1;
//     } 
//   }
// }

%btn {
  z-index: 1;
  position: relative;
  cursor: pointer;
  box-shadow: inset -20px -30px 70px 0px rgba($primary-color, 1), 0 5px 20px 0px rgba(black, .4);
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 120ms ease-in-out;
    box-shadow: inset -20px -30px 70px 0px rgba($primary-color, 1), 0 5px 20px 0px rgba(black, .5);

  }
}

$btn: (
  p: 20px 40px, m: 20px, c: white, b: 0, b-c:$secondary-color, b-r: 40px, f-s: 18px, b-c2: lighten($secondary-color, 15), o: 0, b-r2: 40px, o2: 1,
);

@mixin btn(
  $p: map-get($btn, p), $m: map-get($btn, m), $c: map-get($btn, c), $b: map-get($btn, b),$b-c: map-get($btn, b-c), $b-r: map-get($btn, b-r), $f-s: map-get($btn, f-s), $b-c2: map-get($btn, b-c2), $o: map-get($btn, o), $b-r2: map-get($btn, b-r2), $o2: map-get($btn, o2), 
){
  @extend %btn;
  padding: $p;
  margin: $m;
  color: $c;
  border: $b;
  background-color: $b-c;
  border-radius: $b-r;
  font-size: $f-s;
  &:visited {
    color: $c;
  }
  &::after {
    background-color: $b-c2;
    opacity: $o;
    border-radius: $b-r2;
  }
  &:hover {
    &::after {
      opacity: $o2;
    } 
  }
}


.btn {
  @include btn;
}

// .heart-icon {
//   width: 40px;
//   .solid-heart-icon {
//     z-index: 1;
//     position: relative;
//     width: 40px;
//     fill: red;
//     cursor: pointer;
//     opacity: 0;
//     transition: all 200ms ease-in-out;
//     &:hover {
//       opacity: 1;
//     }
//   }
// }

.restaurant-card__heart-icon {
  clip-path: path("M21.45,3.68l.98,1.05,1.05-1.05C26.42,.81,30.5-.5,34.51,.17c6.06,1.01,10.49,6.25,10.49,12.39v.51c0,3.65-1.51,7.14-4.18,9.62l-15.88,14.83c-.66,.62-1.53,.96-2.43,.96s-1.78-.34-2.43-.96L4.18,22.7C1.51,20.21,0,16.72,0,13.07v-.51C0,6.42,4.44,1.18,10.49,.17c3.93-.67,8.09,.64,10.95,3.51-.08,0,0,0,0,0h0Zm.98,7.02l-3.96-4.11c-1.91-1.83-4.61-2.7-7.28-2.26-4.02,.67-6.97,4.15-6.97,8.23v.51c0,2.48,1.03,4.85,2.84,6.54l15.44,14.41,15.44-14.41c1.81-1.69,2.84-4.06,2.84-6.54v-.51c0-4.08-2.95-7.56-6.97-8.23-2.66-.44-5.37,.43-7.28,2.26l-4.11,4.11Z");
  width: 45px;
  height: 45px;
  background-color: black;
  cursor: pointer;
  &:hover {
    clip-path: path("M0,13.07v-.51C0,6.42,4.44,1.18,10.49,.17c3.93-.67,8.09,.64,10.95,3.51l1.05,1.05,.98-1.05C26.42,.81,30.5-.5,34.51,.17c6.06,1.01,10.49,6.25,10.49,12.39v.51c0,3.65-1.51,7.14-4.18,9.62l-15.88,14.83c-.66,.62-1.53,.96-2.43,.96s-1.78-.34-2.43-.96L4.18,22.7C1.51,20.21,0,16.72,0,13.07h0Z");
    animation: fill-in .4s linear forwards;
  }
}

.restaurant-menu__heart-icon {
  @extend .restaurant-card__heart-icon
}