.restaurant-card {
  position: relative;
  box-shadow: 0 5px 30px 0px rgba(black, .18);
  border-radius: 30px;
  width: 100%;
  margin: 10px 0;
  &:hover {
    > img {
      opacity: .8;
    }
    opacity: .8;
    cursor: pointer;
  }
  @include desktop {
    width: 45%;
  }
  &__img {
    position: relative;
    width: 100%;
    border-radius: 30px 30px 0 0;
    margin-bottom: 10px;
    height: 220px;
    object-fit: cover;
  }
  &__content {
    
    padding: 0px 25px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .restaurant-card__txt {
      .restaurant-card__name, .restaurant-card__location {
        margin: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        line-height: 22px;
      }
      .restaurant-card__name {
        font-weight: 600;
        font-size: 24px;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
        &:hover {
          color: $primary-color;
        }
      }
    
      .restaurant-card__location {
        font-weight: 400;
        font-size: 20px;
      }
    }
    .fa-heart.fa-solid {
      color: red;
      position: relative;
    }
    
   }
  >p {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #008766;
    background-color: #99E2D0;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 5px 30px 0px rgba(black, .18);
  }
  }



.dishes-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 20px 0;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 5px 30px 0px rgba(black, .08);
  animation: fade-in 1s 3.6s linear;
  overflow: hidden;
  cursor: pointer;
  &__checked {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: $mint-green;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 0 25px 25px 0;
    width: 0;
    transition: all .4s ease-in-out;
    .dishes-card__checked-icon {
      margin-left: 40px;
      transition: all .4s ease-in-out;
      color: white;
      transform: rotateZ(-2turn);
    }
  }
  &:hover > .dishes-card__checked {
    width: 15%;
    > i {
      margin: 0;
      transform: rotateZ(0);
   }
  }
  &:hover > .dishes-card__content {
    width: 85%;
  }
 &__content {
    width: 100%;
    padding: 15px 20px;
    transition: width .4s ease-in-out;
      > h2 {
      font-size: 16px;
      margin: 0 0 5px 0;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      >h4 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }
      >h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
 }